header {
    padding-top: 10px;
}

.header_container {
    display: flex;
    justify-content: space-between;
}

.header_navigator,
.header_settings {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul {
    display: flex;
    gap: 30px;
}

.header_settings button {
    color: #202020;
    transition: ease-out .4s;
    background-color: transparent;
    border: 1px solid rgba(69, 72, 104, 0.302)
}

.header_settings button:hover {
    color: #5961f9;
    border-color: #5961f9;
}

.language {
    display: flex;
    align-items: center;
    gap: 8px;
}

nav a,
.language span {
    font-weight: 500;
    color: #454868;
}

nav a {
    padding: 6px;
    position: relative;
    text-decoration: none;
}

nav a::before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(89,97,249,1) 0%;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 50%;
    transition: all .5s;
}

nav a:hover::before {
    width: 100%;
    left: 0;
}