@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
	min-height: 100vh;
	width: 100%;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    font-size: 20px;
    display: inline-flex;
    transition: all .5s;
    font-weight: bold;
}

a:link {
    color: #1b27ff;
}

a:visited {
    color: #ad0de7;
}

a:hover {
    color: #e70dbf;
}

